@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*, *:before, *:after {
  font-family: "Playfair Display", "微軟正黑體";
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F36;
  color: white;
}

.scene {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(#1D2B49, #1A45A0, #91cdff, #fff);
  background-size: 100% 300%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.scene .lefttopText {
  margin-left: 30px;
  margin-right: 30px;
}
.scene .lefttopText h1 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 0;
  font-weight: 300;
}
.scene .lefttopText h5 {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.6;
  margin-bottom: 0;
  font-weight: 300;
}
.scene .lefttopText p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  opacity: 0.6;
}
.scene .lefttopText .blueblock {
  width: 20px;
  height: 25px;
  border-radius: 0;
  background-color: #7cb1ff;
}

.buliding {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0.95);
}

[class^=house] {
  position: absolute;
  bottom: 0;
  right: 0;
}

.house1 {
  width: 180px;
  height: 200px;
  border-radius: 0;
  background-color: #fafaf5;
  box-shadow: inset -50px 0px #e3e2cf;
  z-index: 1;
}
.house1 .window {
  width: 40px;
  height: 100px;
  border-radius: 20px;
  background-color: #e3e2cf;
  box-shadow: inset 8px 5px #bebdaf;
  margin-top: 40px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.house1 .window .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #534d4d;
  margin: 4px;
  margin-left: 10px;
}

.house2 {
  width: 240px;
  height: 170px;
  border-radius: 0;
  background-color: #fafaf5;
  right: 130px;
  box-shadow: inset 0px 15px #8dc9fc, inset -72px 0px #e3e2cf;
  z-index: 2;
}
.house2 .door {
  width: 40px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 45px;
  background-color: #2C2F36;
  box-shadow: inset 10px 2px #7cb1ff;
}

.house3 {
  width: 320px;
  height: 300px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafaf5;
  z-index: 0;
}
.house3 .wall {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.house3 .wall .window {
  width: 24px;
  height: 50px;
  border-radius: 12px 12px 0 0;
  margin-top: 30px;
  background-color: #2C2F36;
}
.house3 .wall:before {
  content: "";
  display: block;
  width: 105%;
  height: 20px;
  border-radius: 0;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.house3 .wall:nth-child(1) {
  background-color: #fafaf5;
  flex: 10;
}
.house3 .wall:nth-child(1) .window {
  box-shadow: inset 8px 2px #7cb1ff;
}
.house3 .wall:nth-child(1):before {
  z-index: 1;
}
.house3 .wall:nth-child(2) {
  background-color: #e3e2cf;
  flex: 14;
}
.house3 .wall:nth-child(2) .window {
  box-shadow: inset 0px 2px #7cb1ff;
}
.house3 .wall:nth-child(2):before {
  z-index: 2;
}
.house3 .wall:nth-child(3) {
  background-color: #bebdaf;
  flex: 10;
}
.house3 .wall:nth-child(3) .window {
  box-shadow: inset -8px 2px #7cb1ff;
}
.house3 .wall:nth-child(3):before {
  z-index: 1;
}

.roof {
  width: 300px;
  height: 150px;
  border-radius: 150px 150px 0 0;
  position: absolute;
  top: -170px;
  right: 5px;
  background: linear-gradient(150deg, #6fc5ff, #0058ff);
}
.roof .rooftop {
  width: 28px;
  height: 14px;
  border-radius: 14px 14px 0 0;
  position: absolute;
  left: 50%;
  top: -14px;
  transform: translateX(-50%);
  background-color: #fff;
}
.roof .cross {
  width: 4px;
  height: 30px;
  border-radius: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: #fff;
}
.roof .cross:before {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background-color: #fff;
}

.allstars {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
}
@-webkit-keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
@keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
.allstars [class^=star] {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: falling 2s infinite;
          animation: falling 2s infinite;
}
.allstars .star1 {
  position: absolute;
  left: 59.7445668347%;
  top: 20.1577654365%;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.allstars .star2 {
  position: absolute;
  left: 71.2657856829%;
  top: 51.4886813456%;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.allstars .star3 {
  position: absolute;
  left: 9.8772823107%;
  top: 31.3222269545%;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.allstars .star4 {
  position: absolute;
  left: 78.5453905536%;
  top: 39.3686166679%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.allstars .star5 {
  position: absolute;
  left: 62.1112221236%;
  top: 46.6606726104%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.allstars .star6 {
  position: absolute;
  left: 94.3387900481%;
  top: 11.6562507661%;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.allstars .star7 {
  position: absolute;
  left: 93.7832286508%;
  top: 29.1712278032%;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.allstars .star8 {
  position: absolute;
  left: 61.5272170037%;
  top: -17.3342580759%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.allstars .star9 {
  position: absolute;
  left: 46.7440096811%;
  top: 14.1482443205%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.allstars .star10 {
  position: absolute;
  left: 50.5044536218%;
  top: 17.2723226199%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.allstars .star11 {
  position: absolute;
  left: 31.6042890023%;
  top: -11.6212628441%;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.allstars .star12 {
  position: absolute;
  left: 72.1235119725%;
  top: -4.773264537%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.allstars .star13 {
  position: absolute;
  left: 30.1986001853%;
  top: 59.322574157%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}
.allstars .star14 {
  position: absolute;
  left: 79.8343573788%;
  top: -6.9854632776%;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}
.allstars .star15 {
  position: absolute;
  left: 13.0303005272%;
  top: -1.344897091%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
.allstars .star16 {
  position: absolute;
  left: 8.8148256399%;
  top: -17.7568316812%;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}
.allstars .star17 {
  position: absolute;
  left: 94.9588231241%;
  top: 55.4445078024%;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}
.allstars .star18 {
  position: absolute;
  left: 50.169726587%;
  top: 3.4353746712%;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}
.allstars .star19 {
  position: absolute;
  left: 83.0216871442%;
  top: 3.0133085707%;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}
.allstars .star20 {
  position: absolute;
  left: 70.2169400087%;
  top: 17.5073326436%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.allstars .star21 {
  position: absolute;
  left: 33.7989380821%;
  top: -3.5269474779%;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}
.allstars .star22 {
  position: absolute;
  left: 99.1570055421%;
  top: 50.3123289232%;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}
.allstars .star23 {
  position: absolute;
  left: 79.4371905625%;
  top: -10.4786044974%;
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.allstars .star24 {
  position: absolute;
  left: 16.5607779322%;
  top: -9.111996013%;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}
.allstars .star25 {
  position: absolute;
  left: 48.0024656198%;
  top: 29.5183640391%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
.allstars .star26 {
  position: absolute;
  left: 90.8524626608%;
  top: 51.6981006199%;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}
.allstars .star27 {
  position: absolute;
  left: 50.6893363196%;
  top: 27.282779745%;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}
.allstars .star28 {
  position: absolute;
  left: 81.8785851954%;
  top: 33.2380499615%;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}
.allstars .star29 {
  position: absolute;
  left: 93.7803468957%;
  top: 58.48353115%;
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}
.allstars .star30 {
  position: absolute;
  left: 19.5617380062%;
  top: 56.1646109884%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.remind {
  opacity: 0.2;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.dayText {
  display: none;
}

.sun, .moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 250px;
  top: 100px;
}

.sun {
  background-color: #ffdd38;
  box-shadow: 0px 0px 20px rgba(255, 221, 56, 0.8);
  top: 400px;
  opacity: 0;
}

.moon {
  -webkit-animation: moonAppear 2s both;
          animation: moonAppear 2s both;
}

@-webkit-keyframes moonAppear {
  0% {
    box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
  }
}

@keyframes moonAppear {
  0% {
    box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
  }
}
h1, h5, p, .moon, .scene, .allstars, .blueblock, .building, .sun {
  transition: 2s;
}

input:checked + .scene {
  background-position: 0 100%;
}
input:checked + .scene .nightText {
  display: none;
}
input:checked + .scene .dayText {
  display: block;
}
input:checked + .scene .allstars {
  opacity: 0;
}
input:checked + .scene h1, input:checked + .scene h5, input:checked + .scene p {
  color: #222;
}
input:checked + .scene .building {
  filter: brightness(105%);
}
input:checked + .scene .moon {
  top: -100px;
  opacity: 0;
}
input:checked + .scene .sun {
  top: 100px;
  opacity: 1;
}
input:checked + .scene .blueblock {
  background-color: #fff;
}

input {
  display: none;
}