label
  .remind Click to Switch Day / Night!
  input(type="checkbox")
  .scene
    .sun
    .moon
    .lefttopText
      .blueblock
      h5 Never-Never Land
      h1 
        span.dayText Shining Day
        span.nightText Starry Night
      p Welcome to <br>Your Journey
    .allstars
      .star1 
      .star2 
      .star3 
      .star4 
      .star5 
      .star6 
      .star7 
      .star8 
      .star9 
      .star10 
      .star11 
      .star12 
      .star13 
      .star14 
      .star15 
      .star16 
      .star17 
      .star18 
      .star19 
      .star20 
      .star21 
      .star22 
      .star23 
      .star24 
      .star25 
      .star26 
      .star27 
      .star28 
      .star29 
      .star30 
    .buliding
      .house1
        .window
          .circle 
          .circle 
          .circle 
      .house2
        .door
      .house3
        .wall
          .window 
        .wall
          .window 
        .wall
          .window 
        .roof
          .rooftop
            .cross

